body {
    color: rgb(40, 40, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1.5em;
    font-size: clamp(1.25rem, 1.0648rem + 0.7407vw, 1.5rem);
    margin: 0px;
    padding-bottom: 4em;
}

.heading {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    background-color: white;
}

.banner-wrapper {
    position: relative;
}
.banner-text {
    position: absolute;
    color:white;
    z-index: -1;
}

.banner-image {
    max-height: 150px;
    width: 100%;
}

.sign-up-heading {
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    /* width: 93vw; */
    margin-left: -1.5em;
    margin-right:-1.5em;
    background-color: rgb(5, 63, 104);
    color: white;
}

.utilities {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1em;
    padding: .5em;
}

.utilities > button {
   background-color:rgb(5, 63, 104);
   color: white;
   border: solid, white, 2px;
   min-width: 2em;
   font-weight: 800;
   border-radius: 10px;
   padding: 1em;
   font-size: 1em;
}
.utilities > button:hover {
   background-color:  rgb(140, 187, 245);
} 

.request-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: left;
    gap: 1em;
    margin: .5em;
    margin-left: 2em;
    padding: .8em; 
    background-color: rgb(181, 217, 248);
    color: rgb(5, 63, 104);
    position: relative;
    border-radius: 10px;
    min-height: 3em;
}

.request-wrapper.minor-flag {
    background-color: rgb(239, 209, 180);
}

.request-wrapper.alt {
    background-color: rgb(196, 196, 196);
}

.list-rank {
    position: absolute;
    left: -1.8em;
    top: 1em;
    font-size: 1.5em;
    color: rgb(86, 86, 86);
    font-weight: 800;
}

.artist-name {
    /* min-height: 1em; */
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .3em;
}

.request-number {
    color: rgb(148, 91, 0);
    font-size: .8em;
    display: inline-block;
}

.instagram {
    /* min-height: 1em; */
    color: rgb(82, 82, 82);
    font-size: .9em;
}

.toggle-button {
    position:absolute;
    right: .5em;
    background-color: rgb(51, 126, 179);;
    color: white;
    border: none;
    min-width: 2em;
    font-weight: 900;
    border-radius: 10px;
    padding: .25em;
    font-size: 1.5em;
}

.toggle-button.alt {
    background-color: rgb(110, 110, 110);
}

.toggle-button:hover {
    background-color: rgb(5, 63, 104);
}

.set-up-information{
    font-size: .8em;
    overflow: hidden;
    display: none;
}

.set-up-information.show {
    display: block;
}

