html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
    color: rgb(40, 40, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-size: clamp(1.25rem, 1.0648rem + 0.7407vw, 1.5rem);
    margin: 0px;
    padding-bottom: 40px;
}

button:hover {
    cursor: pointer;
}

button:disabled:hover {
    cursor:default;
}
.heading {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: white;
}

.banner-wrapper {
    position: relative;
}
.banner-text {
    position: absolute;
    color:white;
    z-index: -1;
}

.banner-image {
    max-height: 150px;
    width: 100%;
}

.sign-up-heading {
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-left: -20px;
    margin-right:-20px;
    background-color: rgb(5, 63, 104);
    color: white;
}

.utilities {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.utilities > button {
   background-color:rgb(5, 63, 104);
   color: white;
   border: solid, white, 2px;
   min-width: 20px;
   font-weight: 800;
   border-radius: 10px;
   padding: 20px;
   font-size: 1.5rem;
}
.utilities > button:hover {
   background-color:  rgb(140, 187, 245);
} 

.utilities > button:disabled {
    background-color: rgb(189, 189, 189);
}

.request-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: left;
    gap: 10px;
    margin: 20px;
    margin-left: 80px;
    padding: .8em; 
    background-color: rgb(181, 217, 248);
    color: rgb(5, 63, 104);
    position: relative;
    border-radius: 10px;
    min-height: 70px;
}

.request-wrapper.minor-flag {
    background-color: rgb(239, 209, 180);
}

.request-wrapper.alt {
    background-color: rgb(196, 196, 196);
}

.list-rank {
    position: absolute;
    left: -60px;
    top: 30px;
    font-size: 2rem;
    color: rgb(86, 86, 86);
    font-weight: 800;
}

.artist-name {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.request-number {
    color: rgb(148, 91, 0);
    font-size: 1rem;
    display: inline-block;
}

.instagram {
    /* min-height: 1em; */
    color: rgb(82, 82, 82);
    font-size: 1.3rem;
}

.toggle-button {
    position:absolute;
    right: 15px;
    background-color: rgb(51, 126, 179);;
    color: white;
    border: none;
    min-width: 40px;
    font-weight: 900;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5rem;
}

.toggle-button.alt {
    background-color: rgb(110, 110, 110);
}

.toggle-button:hover {
    background-color: rgb(5, 63, 104);
}

.set-up-information{
    font-size: 1.2rem;
    overflow: hidden;
    display: none;
}

.set-up-information.show {
    display: block;
}

.hide {
    display: none;
}

#form_content {
    padding-top: 20px;
}