body {
    color: rgb(40, 40, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2em;
    font-size: clamp(1rem, 0.6296rem + 1.4815vw, 1.5rem);
}

.heading {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.request-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin: .5em;
    margin-left: 2em;
    padding: .8em; 
    background-color: rgb(181, 217, 248);
    /* max-width: 25em; */
    position: relative;
    border-radius: 10px;
    min-height: 2em;
}

.list-rank {
    position: absolute;
    left: -1.8em;
    top: 1.5em;
    font-size: .8em;
    color: gray
}

.artist-name {
    /* min-height: 1em; */
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .3em;
}

.request-number {
    color: gray;
    font-size: .5em;
    display: inline-block;
}

.instagram {
    /* min-height: 1em; */
    color: rgb(82, 82, 82);
    font-size: .8em;
}

.toggle-button {
    background-color: rgb(100, 134, 179);
    color: white;
    border: none;
    min-width: 2em;
    font-weight: 900;
    border-radius: 10px;
    padding: .5em;
    font-size: 1.5em;
}

.toggle-button:hover {
    background-color: rgb(51, 68, 89);
}

.utilities {
    display: flex;
    justify-content: left;
    gap: 1em;
    margin: .5em;
    padding: .5em;
    /* background-color: rgb(194, 148, 190); */
}

.utilities > button{
   background-color:  rgb(100, 134, 179);
   color: white;
   border: none;
   min-width: 2em;
   font-weight: 800;
   border-radius: 10px;
   padding: 1em;
   font-size: 1em;
}
.utilities > button:hover{
   background-color:  rgb(51, 68, 89);
}