html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
    color: rgb(40, 40, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1.5rem;
    font-size: clamp(1.25rem, 1.0648rem + 0.7407vw, 1.5rem);
    margin: 0px;
    padding-bottom: 4rem;
    min-height: 80vh;
}

button:hover {
    cursor: pointer;
}

button:disabled:hover {
    cursor:default;
}
.heading {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: white;
}

.banner-wrapper {
    position: relative;
    padding: 1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.banner-text {
    position: absolute;
    color:rgba(255, 255, 255, 0);
    z-index: -1;
}

.banner-image {
    /* max-height: 150px; */
    width: 100%;
}

.sign-up-heading {
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem .5rem 1.5rem;
    margin-left: -1.5rem;
    margin-right:-1.5rem;
    background-color: rgb(5, 63, 104);
    color: white;
    font-size: 2rem;
}

.utilities {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    /* padding: 5px; */
}

button {
    aspect-ratio: 1/1;
    font-size: 3rem;
    padding: 1rem;
    border-radius:1rem; 
    font-weight: 800;
}

.utilities > button {
   background-color:rgb(5, 63, 104);
   color: white;
   border: solid, white, .2rem;
}
.utilities > button:hover {
   background-color:  rgb(140, 187, 245);
} 

.utilities > button:disabled {
    background-color: rgb(189, 189, 189);
}

.request-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: left;
    gap: 1rem;
    margin: 1rem 0rem 1rem 5rem;
    padding: 1rem;
    background-color: rgb(181, 217, 248);
    color: rgb(5, 63, 104);
    position: relative;
    border-radius: 10px;
    min-height: 6.5rem;
    font-size: 2.5rem;
}

.request-wrapper.minor-flag {
    background-color: rgb(239, 209, 180);
}

.request-wrapper.alt {
    background-color: rgb(196, 196, 196);
}

.list-rank {
    position: absolute;
    left: -5rem;
    top: 1.5rem;
    font-size: 2.5rem;
    color: rgb(86, 86, 86);
    font-weight: 800;
}

.artist-name {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.request-number {
    color: rgb(148, 91, 0);
    font-size: 2rem;
    padding-bottom: 1rem;
    display: inline-block;
}

.instagram {
    /* min-height: 1em; */
    color: rgb(82, 82, 82);
    font-size: 2rem;
}

.toggle-button {
    position:absolute;
    right: 1rem;
    top: 1rem;
    background-color: rgb(51, 126, 179);;
    color: white;
    border: none;
}

.toggle-button.alt {
    background-color: rgb(110, 110, 110);
}

.toggle-button:hover {
    background-color: rgb(5, 63, 104);
}

.set-up-information{
    font-size: 2rem;
    overflow: hidden;
    display: none;
}

.set-up-information.show {
    display: block;
}

.hide {
    display: none;
}

#form_content {
    padding-top: 4rem;
}